# Maven / Build
target/
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# VS Code
.vscode/

# Varios / Locales
/entorno/
*.log